@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  background-color: #fcfaf2;
  color: #2b2b2b;
  font-family: "Hoefler Text", "Garamond", "EB Garamond", serif;
}

a {
  color: #05472a;
}
