{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <p class="byline">
            {{ if in (slice "drama" "narrative" "poem") $postType }}
                {{ $showAuthor := .Site.Params.showAuthor | default false }}
                {{ $author := partial "head/author.html" . }}
                {{ if (and $showAuthor (ne $author ""))}}
                    <span class="author">{{ i18n "by" . }}</span>
                {{ end }}
            {{ else }}
                {{ partial "post-meta/date.html" . }}
            {{ end }}
        </p>
        <h1 class="text-title">
            {{ .Params.pageTitle | default .Title }}
        </h1>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>
    {{/* Post tags are not allowed for drama, narratives and poems */}}
    {{ if not (in (slice "drama" "narrative" "poem") $postType) }}
        {{ partial "post-tags.html" . }}
    {{ end }}
    {{ partial "comments.html" . }}
</article>

<div class="article-end">
  <nav class="navbar">
    <div class="nav-item prev-post">
      {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">« {{ i18n "previous" | default "Previous" }}</a>
      {{ else }}
        <span class="disabled-link">« {{ i18n "previous" | default "Previous" }}</span>
      {{ end }}
    </div>

    <div class="nav-item go-home">
      <a href="/">{{ i18n "home" | default "Home" }}</a>
    </div>

    <div class="nav-item all-posts">
      <a href="/publications/">{{ i18n "all_posts" | default "All" }}</a>
    </div>

    <div class="nav-item prev-post">
      {{ with .NextInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ i18n "next" | default "Next" }} »</a>
      {{ else }}
        <span class="disabled-link">{{ i18n "next" | default "Next" }} »</span>
      {{ end }}
    </div>
  </nav>
</div>
{{ end }}
