<style>
  @import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+Symbols+2&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rye&display=swap');

  html {
    --fg-color: #2b2b2b;
    --bg-color: #f9f1cb;
    --theme-color: #87583c;
  }

  body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: "Garamond", "EB Garamond", serif;
    font-size: 17pt;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-family: "Playfair Display SC", "Bodoni 72 Smallcaps", serif;
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
  }

  h1.text-title {
    font-family: "Playfair Display", "Garamond", "EB Garamond", serif;
    font-style: italic;
    font-weight: 500;
    font-size: 1.5em;
  }

  hr {
    border-top: 0px solid var(--fg-color);
    border-bottom: 0px solid var(--fg-color);
  }

  .masthead {
    padding: 2em 0em 2em 0em;
    border-bottom: 1px solid var(--theme-color);
  }

  .masthead-title {
    font-family: "Playfair", "Garamond", "EB Garamond", serif !important;
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    line-height: 0.8em;
    letter-spacing: -4.5pt;
  }

  .masthead-title a {
    transition: 1s;
  }

  .masthead-title a:hover {
    transition: 0.5s;
    color: var(--fg-color);
    text-decoration: none;
  }

  .masthead-title small {
    font-family: "Garamond", "EB Garamond", serif;
    font-style: normal;
    margin: 0em 0em 0em 1em;
  }

  .sidebar {
    font-size: 0.9rem;
    width: 30%;
    left: -30%;
    transition: all 0.8s ease-in-out;
  }

  .wrap, .sidebar-toggle {
    transition: all 0.8s ease-in-out;
  }

  .sidebar-toggle {
    top: 2.5rem;
    background-color: var(--bg-color);
    color: var(--theme-color);
  }

  #sidebar-checkbox:checked~.sidebar, #sidebar-checkbox:checked~.wrap,
  #sidebar-checkbox:checked~.sidebar-toggle {
    transform: translateX(30vw);
  }

  .motif {
    text-align: center;
    font-family: "Noto Sans Symbols 2", serif;
    font-weight: 400;
    font-size: 2em;
    color: var(--theme-color);
  }
</style>
