{{ define "main" }}

<div class="home-navbar">
  <nav class="navbar">
    <div class="nav-item">
      <a href="/about/" title="About">About</a>
    </div>

    <div class="nav-item">
      <a href="/contact/" title="Contact">Contact</a>
    </div>

    <div class="nav-item">
      <a href="/search/" title="Search">Search</a>
    </div>

    <div class="nav-item">
      <a href="/meta/" title="Meta">Meta</a>
    </div>
  </nav>
</div>

{{ with .Content }}
    <div class="introduction">
        {{ . }}
    </div>
    {{ partial "mini-toc" . }}
{{ else }}
    {{ $mainSections := site.Params.mainSections | default (slice "posts") }}
    {{ $paginator := .Paginate (where site.RegularPages.ByDate.Reverse "Section" "in" $mainSections) }}
    <div class="articles">
        {{ with .Title }}<h1 class="page-title">{{ . }}</h1>{{ end }}

        {{ range $paginator.Pages }}
            {{ .Render "teaser" }}
        {{ end }}
    </div>
{{ end }}

{{ end }}
