{{ define "main" }}
<div class="container content">
  <main role="main">
    <article class="page">
      <header class="page-header">
        <h1 class="text-title">{{ .Title }}</h1>
      </header>

      <div class="page-content">
        {{ .Content }}

        <div class="extended-posts-view-link">
            <a href="/posts/" title="Posts">Long View</a>
        </div>

        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ range $posts.GroupByDate "January 2006" }}
          <div style="display: flex; align-items: center;">
            <span>{{ .Key }}</span>&nbsp;<hr style="flex-grow: 1; margin: 0;">
          </div>
          <ol class="publications-list" style="list-style: none; padding-left: 0">
            {{ range .Pages }}
                <li class="publication-item">
                  <span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </span>
                  <span>·</span>
                  <span class="publication-date">
                      {{ if .Date }}
                        {{ .Date.Format site.Params.dateFormat }}
                      {{ else }}
                        <span style="color: #888888; font-style: italic;">No Date</span>
                      {{ end }}
                  </span>
                </li>
            {{ end }}
          </ol>
        {{ end }}
      </div>
    </article>
  </main>
</div>
{{ end }}
