{{ define "main" }}
<div class="container content">
  <main role="main">
    <article class="page">
      <header class="page-header">
        <h1 class="text-title">{{ .Title }}</h1>
      </header>

      <div class="page-content">
        {{ .Content }}

        <ol class="publications-list" style="list-style: decimal; padding-left: 0; margin-top: 30px;">
          {{ range .Site.RegularPages }}
            {{ if (eq .Section "posts") }}
              <li class="publication-item">
                <div>
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div class="publication-date">
                    {{ if .Date }}
                      {{ .Date.Format site.Params.dateFormat }}
                    {{ else }}
                      <span style="color: #888888; font-style: italic;">No Date</span>
                    {{ end }}
                </div>
              </li>
            {{ end }}
          {{ end }}
        </ol>
      </div>
    </article>
  </main>
</div>
{{ end }}
