{{ define "main" }}
<div class="container content">
  <main role="main">
    <article class="page">
      <header class="page-header">
        <h1 class="text-title">{{ .Title }}</h1>
      </header>

      <div class="page-content">
        {{ .Content }}

        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ range $posts.GroupByDate "January 2006" }}
          {{ .Key }}
          <hr style="margin: 0;">
          <ol class="publications-list" style="list-style: decimal; padding-left: 0; margin-top: 30px;">
            {{ range .Pages }}
                <li class="publication-item">
                  <span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </span>
                  <span>·</span>
                  <span class="publication-date">
                      {{ if .Date }}
                        {{ .Date.Format site.Params.dateFormat }}
                      {{ else }}
                        <span style="color: #888888; font-style: italic;">No Date</span>
                      {{ end }}
                  </span>
                </li>
            {{ end }}
          </ol>
        {{ end }}
      </div>
    </article>
  </main>
</div>
{{ end }}
